.cabesalho-enu-hamburger{
width: 24px;
height: 24px;
background-image: url(../img/Menu.svg);
display: inline-block;
background-repeat: no-repeat;
background-position: center;
position: relative;

}

.cabesalho{
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    align-items:center ;

}

.container-imagem{
    padding: 1em;

}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
}

.container-boton:checked~.lista-menu{
    display: block;
}

.lista-menu-titulo, .lista-menu-item{
    padding: 1em;
    background-color:var(--blanco) ;
}

